@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Press+Start+2P&display=swap');
html,
body,
#root,
.app{
    height: 100%;
    width: 100%;
    font-family: "Inter", sans-serif;
    background-color: var(--Base);
    text-decoration: #1D1D2B;
}
:root {
    --Dark: #1A1C20;
    --Lildark: #F9813A;
    --Highlight: #FFD5CD;
    --Base: #FCF1F1;
    --Diff: #2e9e79ff;
  }