@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Press+Start+2P&display=swap');
html,
body,
#root,
.app{
    height: 100%;
    width: 100%;
    font-family: "Inter", sans-serif;
    background-color: var(--Base);
    text-decoration: #1D1D2B;
}
.boxloader{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.loader-container {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
   
  .loader {
    content: "";
    width: 60px;
    height: 60px;
    border: 8px solid #1A1C20;
    border-top-color: #F9813A;
    border-radius: 50%;
    animation: loading-anim 1s ease infinite;
  }
   
  @keyframes loading-anim {
    to {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
:root {
    --Dark: #1A1C20;
    --Lildark: #F9813A;
    --Highlight: #FFD5CD;
    --Base: #FCF1F1;
    --Diff: #2e9e79ff;
  }